* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.cta img{
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.btn-primary {
  background-color: #344A58 !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 20px !important;
}
.btn-primary:hover {
  background-color: #162026 !important;
}

.btn-secondary {
  background-color: #648193 !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 20px !important;
}

.btn-secondary:hover {
  background-color: #344A58 !important;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.search{
  border-radius: 30px !important;
  padding: 10px 30px !important;
  text-align: left !important;
}

.active {
  font-weight: 700 !important;
  color: #162026 !important;
}

.testi {
  max-width: 40px;
}

.category-scroll {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 1rem;
  padding: 1rem 0;
  cursor: grab;
}

.category-scroll:active {
  cursor: grabbing;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

.category-scroll button {
  min-width: 120px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  flex-shrink: 0;
}

.category-scroll button:hover {
  background-color: #6c757d;
  color: #fff;
}

.category-active{
  background-color: #344A58 !important;
}